<html>
  <header>
    <h1>Chitter!</h1>
  </header>
  <body>
   <div style="background-color:black;">
     <table align="center">
      <tr>
        <td><textarea name="peeps" rows="4" cols="100">pee here!</textarea><br></td>
      </tr>
      <tr>
        <form action='/chitter/post' method="post">
        <td><input type="submit" value="peep" /></td>
        </form>
      </tr>
     </table>
   </div>
  </body>
</html>
